{% extends 'base.html.twig' %}
{% block body %}
<h1>liste des enfants</h1>
{% for e in parent.enfants %}
<form method="post">
    <div>
        <input type="checkbox" id="enfant_{{ e.id }}"  name="{{ e.id }}">
        <label>{{ e.nom }}</label>

    </div>
{% endfor %}
<div class="modal-footer justify-content-between">
    <input hidden value="" name="act" type="number" >

    <input type="submit" class="btn btn-primary" >
</div>
</form>
{% endblock %}