{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>les livres disponibles dans notre bibliothèque</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->



    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                    {% for livre in livres %}
                        <div class="card bg-light" id="cloneDiv">
                            <div class="card-header text-muted border-bottom-0">
                                {{ livre.nom }}
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="lead"><b> {{ livre.nom }}</b></h2>
                                        <p class="text-muted text-sm"><b>Description </b>{{ livre.description }} </p>
                                        <p class="text-muted text-sm"><b>Prix </b>{{ plat.prix }} </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>hh </li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>hh </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">

                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> reserver
                                    </a>
                                </div>
                            </div>
                        </div>  {% endfor %}
                </div>


            </div>
        </div>
    </div>




    <!-- /.card-body -->
    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
        </nav>
    </div>
    <!-- /.card-footer -->

    <!-- /.card -->

    </section>

{% endblock %}