{% extends 'base.html.twig' %}
{% block body %}
    <div class="card card-info">
        <label class="card-header" >Ajouter un evenement</label>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit"  class="btn btn-warning" value="Create" />
    {{ form_end(form) }}

    <div class="col-md-2">
        <div class="card-body pad table-responsive">
            <a  class="btn btn-block btn-outline-secondary" href="{{ path('evenement_index') }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
